<h2>Aks a new question</h2>
<form action="/questions" method="post">
  <label for="content">What would you like to aks?</label>
  <input type="text" name="content" id="content">
  <input type="submit" name="sumbit" value="Aks!" id="submit">
</form>
