<div class="jumbotron">
  <h1>Welcome to Aks Me!</h1>
    <p>
      Aks and answer a question.
    </p>
    <a href="/questions">
      <button type="button" class="btn btn-primary btn-lg btn-orange">Get Started!</button>
    </a>
</div>
