<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Aks Me!</title>
  </head>
  <body>
    <nav>
      <a href="/questions"><button type="button" name="button">Questions being Aksed</button></a>

      <% if logged_in? %>

        <a href="/questions/new"><button type="button" name="button">Aks a Question</button></a>
        <a href="/logout"><button type="button" name="button">Log Out</button></a>
        <p>Welcome, <%=current_user.username %></p>

      <% else %>
        <a href="/signup"><button type="button" name="button">Sign Up</button></a>
        <a href="/login"><button type="button" name="button">Sign In</button></a>
      <%end %>

    </nav>
    <%= yield %>
  </body>
</html>
