<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Aks Me!</title>
  </head>
  <body>
    <nav>
      <% if logged_in? %>

        <a href="/questions/new"> Aks a Question </a>
        <a href="/logout"> Log Out </a>
        <p>Welcome, <%=current_user.username %></p>

      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login"> Sign In </a>
      <%end %>

    </nav>
    <%= yield %>
  </body>
</html>
